{% extends "base/base.html" %}

{% block content %}
<div class="page-header">
    <h1 class="page-title">Data Partner Harvest</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'read_partner_harvest' %}">Data Partner Harvest</a></li>
            {% if is_owner or is_admin %}
            <li class="breadcrumb-item active" aria-current="page"><a class="text-muted" href="{% url 'create_partner_harvest' %}">Create Partner Harvest</a></li>
            {% endif %}
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="datapartner_harvest">
                        <thead class="table-light">
                            <tr>
                                <th class="text-center">No</th>
                                <th class="text-center">Partner Name</th>
                                <th class="text-center">Harvest Date</th>
                                <th class="text-center">Commodity</th>
                                <th class="text-center">Quantity</th>
                                {% if is_owner or is_admin %}
                                <th class="text-center">Action</th>
                                {% endif %}
                            </tr>
                        </thead>
                
                        <tbody class="table-dark">
                            {% for item in harvest_qs %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td>{{ item.partner_harvest_id.partner_id.partner_name }}</td>
                                <td class="text-center">{{ item.partner_harvest_id.harvest_date }}</td>
                                <td>{{ item.commodity_id }}</td>
                                <td class="text-right">{{ item.quantity }} kg</td>
                                {% if is_owner or is_admin %}
                                <td class="text-center">
                                   <a href="{% url 'update_partner_harvest' item.partner_harvest_detail_id %}"><button class="btn btn-inverse-warning btn-icon-text btn-sm mr-2"><i class="mdi mdi-reload btn-icon-prepend align-middle"></i>Update</button></a>
                                   {% if is_owner %}
                                   <a href="{% url 'delete_partner_harvest' item.partner_harvest_detail_id %}"><button class="btn btn-inverse-danger btn-icon-text btn-sm"><i class="mdi mdi-close btn-icon-prepend align-middle"></i>Delete</button></a>
                                   {% endif %}
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>  
{% endblock %}
