{% extends "base/base.html" %}

{% block content %}
<div class="page-header">
    <h1 class="page-title">Update Transaction</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a class="text-muted" href="{% url 'read_transaction' %}">Data Transaction</a></li>
            <li class="breadcrumb-item"><a href="{% url 'update_transaction' transaction.transaction_id %}">Update Transaction</a></li>
        </ol>
    </nav>
</div>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="form-sample" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="category" class="col-sm-3 col-form-label">Category</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="category" id="category" required>
                            {% for item in category_obj %}
                            <option value="{{ item.category_id }}" {% if transaction.category_id.category_id == item.category_id %}selected{% endif %}>
                                {{ item.category_name }} - {{ item.type }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="date" class="col-sm-3 col-form-label">Date</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="date" name="date" id="date" value="{{ transaction_date }}" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="description" class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" name="description" id="description" value="{{ transaction.description }}" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="amount" class="col-sm-3 col-form-label">Amount</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="number" name="amount" id="amount" value="{{ transaction.amount }}" min="1" required>
                    </div>
                </div>

                <button type="submit" class="btn btn-success btn-icon-text">
                    <i class="mdi mdi-file-check btn-icon-prepend"></i> Submit
                </button>
                <a href="{% url 'read_transaction' %}" class="btn btn-secondary">
                    Cancel
                </a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
