{% extends "base/base.html" %}

{% block content %}
<div class="page-header">
    <h1 class="page-title">Update Sales Data</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a class="text-muted" href="{% url 'read_sale' %}">Data Sales</a></li>
            <li class="breadcrumb-item"><a href="{% url 'update_sale' sale.sale_id %}">Update Sale</a></li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="form-sample" method="post">
                    {% csrf_token %}
                    <h1 class="card-title">Sale</h1>

                    <div class="form-group row">
                        <label for="market" class="col-sm-3 col-form-label">Market</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="market" id="market" required>
                                {% for item in market_obj %}
                                {% if item == sale.market_id %}
                                <option selected value="{{ item.market_id }}">{{ item.market_name }}</option>
                                {% else %}
                                <option value="{{ item.market_id }}">{{ item.market_name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="date" class="col-sm-3 col-form-label">Date</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="date" name="date" id="date" value="{{ sale_date }}" required>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success btn-icon-text">
                        <i class="mdi mdi-file-check btn-icon-prepend"></i> Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
