{% load static %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center mt-2 justify-content-center fixed-top">
      {% if is_owner or is_admin %}
      <a class="sidebar-brand brand-logo text-success display-1 " style="text-decoration: none;" href="{% url 'base' %}"><h3>CV BUMI AJI</h3></a>
      <a class="sidebar-brand brand-logo-mini text-success display-1" style="text-decoration: none;" href="{% url 'base' %}"><h3>BA</h3></a>
      {% else %}
      <a class="sidebar-brand brand-logo text-success display-1 " style="text-decoration: none;" href="#"><h3>CV BUMI AJI</h3></a>
      <a class="sidebar-brand brand-logo-mini text-success display-1" style="text-decoration: none;" href="#"><h3>BA</h3></a>
      {% endif %}
    </div>
    <ul class="nav">
      
     {% if is_owner or is_admin %}
      <li class="nav-item menu-items">
        <a class="nav-link" href="{% url 'base' %}">
          <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
          </span>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      {% endif %}


      {% if is_owner or is_admin or is_inspection %}
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-icon">
            <i class="mdi mdi-account-multiple-outline"></i>
          </span>
          <span class="menu-title">Partner</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
  
            <li class="nav-item">
                <a class="nav-link" href="{% url 'read_partner' %}">
                    <span>
                        <i class="mdi mdi-account-outline mr-2"></i>
                    </span>
                    <span>Data partner</span>
                </a>
            </li>
       
            {% if is_owner or is_admin %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create_partner' %}">
                <span>
                  <i class="mdi mdi-account-multiple-plus mr-2"></i>
                </span>
                <span>Add Partner</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </li>
      {% endif %}


      {% if is_owner or is_admin %}
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic11" aria-expanded="false" aria-controls="ui-basic11">
          <span class="menu-icon">
            <i class="mdi mdi-food-apple"></i>
          </span>
          <span class="menu-title">Grade</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic11">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'read_grade' %}">
                    <span>
                        <i class= "mdi mdi-format-list-bulleted mr-2"></i>
                    </span>
                    <span>Data Grade</span>
                </a>
            </li>
            {% if is_owner or is_admin %}
            <li class="nav-item">
                 <a class="nav-link" href="{% url 'create_grade' %}">
                    <span>
                        <i class="mdi mdi-plus mr-2"></i>
                    </span>
                    <span>Add Grade</span>
                </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </li>
      {% endif %}

      {% if is_owner or is_admin %}
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic2">
          <span class="menu-icon">
            <i class="mdi mdi-leaf"></i>
          </span>
          <span class="menu-title">Commodity</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic2">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'read_commodity' %}">
                    <span>
                        <i class= "mdi mdi-format-list-bulleted mr-2"></i>
                    </span>
                    <span>Data Commodity</span>
                </a>
            </li>
            {% if is_owner or is_admin %}
            <li class="nav-item">
                 <a class="nav-link" href="{% url 'create_commodity' %}">
                    <span>
                        <i class="mdi mdi-plus mr-2"></i>
                    </span>
                    <span>Add Commodity</span>
                </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </li>
      {% endif %}

      {% if is_owner or is_admin or is_inspection %}
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic4">
          <span class="menu-icon">
            <i class="mdi mdi-leaf"></i>
          </span>
          <span class="menu-title">Harvest</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic4">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'read_partner_harvest' %}">
                <span>
                  <i class="mdi mdi-format-list-bulleted mr-2"></i>
                </span>
                <span>Partner Harvest</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'read_local_harvest' %}">
                <span>
                  <i class="mdi mdi-format-list-bulleted mr-2"></i>
                </span>
                <span>Local Harvest</span>
              </a>
            </li>
            {% if is_owner or is_admin %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create_partner_harvest' %}">
                <span>
                  <i class="mdi mdi-plus mr-2"></i>
                </span>
                <span>Add Partner Harvest</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create_local_harvest' %}">
                <span>
                  <i class="mdi mdi-plus mr-2"></i>
                </span>
                <span>Add Local Harvest</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </li>
      {% endif %}

      {% if is_owner or is_admin or is_production %}
      <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'read_inventory' %}">
              <span class="menu-icon">
                  <i class="mdi mdi-package-variant"></i>
              </span>
              <span class="menu-title">Inventory</span>
          </a>
      </li>
      {% endif %}

      {% if is_owner or is_admin %}
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic3">
          <span class="menu-icon">
            <i class="mdi mdi-food"></i>
          </span>
          <span class="menu-title">Product</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic3">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'read_product' %}">
                    <span>
                        <i class="mdi mdi-format-list-bulleted mr-2"></i>
                    </span>
                    <span>Data Product</span>
                </a>
            </li>
            {% if is_owner or is_admin %}
            <li class="nav-item">
                 <a class="nav-link" href="{% url 'create_product' %}">
                    <span>
                        <i class="mdi mdi-plus  mr-2"></i>
                    </span>
                    <span>Add Product</span>
                </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </li>
      {% endif %}
      {% if is_owner or is_admin %}
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic5" aria-expanded="false" aria-controls="ui-basic5">
          <span class="menu-icon">
            <i class="mdi mdi-store"></i>
          </span>
          <span class="menu-title">Market</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic5">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'read_market' %}">
                    <span>
                        <i class="mdi mdi-format-list-bulleted mr-2"></i>
                    </span>
                    <span>Data Market</span>
                </a>
            </li>
            {% if is_owner or is_admin %}
            <li class="nav-item">
                 <a class="nav-link" href="{% url 'create_market' %}">
                    <span>
                        <i class="mdi mdi-plus  mr-2"></i>
                    </span>
                    <span>Add Market</span>
                </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </li>
      {% endif %}
      {% if is_owner or is_admin or is_production %}
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic7" aria-expanded="false" aria-controls="ui-basic7">
          <span class="menu-icon">
            <i class="mdi mdi-factory"></i>
          </span>
          <span class="menu-title">Production</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic7">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'read_production' %}">
                <span>
                  <i class="mdi mdi-format-list-bulleted mr-2"></i>
                </span>
                <span>Data Production</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      {% endif %}
      {% if is_owner or is_admin %}
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic10" aria-expanded="false" aria-controls="ui-basic10">
          <span class="menu-icon">
            <i class="mdi mdi-file-chart"></i>
          </span>
          <span class="menu-title">Report</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic10">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sales_report' %}">
                <span>
                  <i class="mdi mdi-format-list-bulleted mr-2"></i>
                </span>
                <span>Sales Report</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'harvest_report' %}">
                <span>
                  <i class="mdi mdi-format-list-bulleted mr-2"></i>
                </span>
                <span>Harvest Report</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pnl_report' %}">
                <span>
                  <i class="mdi mdi-format-list-bulleted mr-2"></i>
                </span>
                <span>P&L Report</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'total_commodities' %}">
                <span>
                  <i class="mdi mdi-format-list-bulleted mr-2"></i>
                </span>
                <span>Commodity Log</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      {% endif %}
      {% if is_owner or is_admin %}
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic9" aria-expanded="false" aria-controls="ui-basic9">
          <span class="menu-icon">
            <i class="mdi mdi-cash-multiple"></i>
          </span>
          <span class="menu-title">Transaction</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic9">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'read_transaction' %}">
                <span>
                  <i class="mdi mdi-format-list-bulleted mr-2"></i>
                </span>
                <span>Data Transaction</span>
              </a>
            </li>
            {% if is_owner or is_admin %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create_transaction' %}">
                <span>
                  <i class="mdi mdi-plus mr-2"></i>
                </span>
                <span>Add Transaction</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </li>
      {% endif %}
      {% if is_owner or is_admin %}
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic8" aria-expanded="false" aria-controls="ui-basic8">
          <span class="menu-icon">
            <i class="mdi mdi-format-list-bulleted-type"></i>
          </span>
          <span class="menu-title">Transaction Category</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic8">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'read_transactioncategory' %}">
                <span>
                  <i class="mdi mdi-format-list-bulleted mr-2"></i>
                </span>
                <span>Data Category</span>
              </a>
            </li>
            {% if is_owner or is_admin %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create_transactioncategory' %}">
                <span>
                  <i class="mdi mdi-plus mr-2"></i>
                </span>
                <span>Add Category</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </li>
      {% endif %}
      {% if is_owner or is_admin %}
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic6" aria-expanded="false" aria-controls="ui-basic6">
          <span class="menu-icon">
            <i class="mdi mdi-cart"></i>
          </span>
          <span class="menu-title">Sales</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic6">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'read_sale' %}">
                <span>
                  <i class="mdi mdi-format-list-bulleted mr-2"></i>
                </span>
                <span>Data Sales</span>
              </a>
            </li>
            {% if is_owner or is_admin %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create_sale' %}">
                <span>
                  <i class="mdi mdi-plus mr-2"></i>
                </span>
                <span>Add Sales</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </li>
      {% endif %}
      {% if is_owner or is_admin %}
      <li class="nav-item menu-items">
          <a class="nav-link" href="{% url 'activity_logs' %}">
              <span class="menu-icon">
                  <i class="mdi mdi-package-variant"></i>
              </span>
              <span class="menu-title">Activity Log</span>
          </a>
      </li>
      {% endif %}
</nav> 
