{% extends "base/base.html" %}

{% block content %}

<div class="page-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active " aria-current="page" ><a class="text-muted" href="{% url 'read_production' %}">Data Production</a></li>
          <li class="breadcrumb-item " ><a  href="">Update Production</a></li>
        </ol>
      </nav>
</div>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Update Data</h3>
            <form class="form-sample"  method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="product">product</label>
                    <div class="col-sm-9">
                        <select class="form-control" disabled>
                            {% for item in products %}
                                {% if item.product_id == detail.product_id.product_id %}
                                <option selected value="{{item.product_id}}">{{item}}</option>
                                {% else %}
                                <option value="{{item.product_id}}">{{item}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input type="hidden" name="product_id" value="{{detail.product_id.product_id}}">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"  for="status">Status product</label>

                    <div class="col-sm-9">
                        <select class="form-control" name="status" required>
                            <option value="Processing" {% if detail.status == "Processing" %}selected{% endif %}>Processing</option>
                            <option value="Completed" {% if detail.status == "Completed" %}selected{% endif %}>Completed</option>
                            <option value="Cancelled" {% if detail.status == "Cancelled" %}selected{% endif %}>Cancelled</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">

                    <label class="col-sm-3 col-form-label"  for="date">Date</label>
                    <div class="col-sm-9">
                        <input class="form-control" value="{{production_date}}" name="date" id="date" aria-readonly="True">

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"  for="product_quantity">Quantity</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="number"  value="{{detail.product_quantity}}" name="product_quantity" id="product_quantity" aria-readonly="true">
                    </div>
                </div>
         
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
